.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-height: calc(100vh - 100px);
  padding: 24px 0;
}

.login-container .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 28px 24px;
  border-radius: 16px;
  background-color: var(--bg-card-color);
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
}

.login-container .form-container h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.login-container .form-container span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.login-container .form-container .log-options {
  display: flex;
  gap: 16px;
  width: 100%;
}

.login-container .form-container .log-option {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 140px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--bg-color);
  color: var(--gray-8);
  text-transform: none;
}

.login-container .form-container .google {
  background-color: #CB5145;
}

.login-container .form-container .fb {
  background-color: #086dff;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.form-container form .input-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-container form .input-field label {
  font-size: 14px;
  letter-spacing: 1.2px;
}

.form-container form .input-field input {
  height: 46px;
  padding: 0 8px;
  border-radius: 8px;
  border: 1px solid var(--bg-card-hover);
  background-color: var(--bg-color);
  outline: none;
  color: var(--fg-color);
  font-size: 14px;
  letter-spacing: 1.2px;
}

.form-container form .input-field input:focus {
  border-color: var(--red-1);
}

.form-container form .input-field .pass {
  width: calc(100% - 46px);
  border-right: none;
  border-radius: 8px 0 0 8px;
}

.form-container form .input-field .pass:focus + .show-pass {
  border-color: var(--red-1);
}

.form-container form .input-field .input-pass {
  display: flex;
}

.form-container form .input-field .show-pass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  aspect-ratio: 1;
  border: 1px solid var(--bg-card-hover);
  border-left: none;
  border-radius: 0 8px 8px 0;
  background-color: var(--bg-color);
  cursor: pointer;
}

.form-container form .input-field .show-pass:hover {
  background-color: var(--bg-card-hover);
}

.form-container form button {
  height: 46px;
}

.login-container p {
  font-size: 14px;
  letter-spacing: 1.2px;
}

.input-error {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--fg-color-2);
}

.input-error svg {
  color: var(--red-1);
}