.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 1rem;
  text-align: center;
}

.not-found-container h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--blue-2);
}

.dark .not-found-container h1 {
  color: var(--blue-4);
}

.not-found-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--gray-1);
}

.dark .not-found-container p {
  color: var(--gray-7);
}

.not-found-container img {
  width: 600px;
}

@media (max-width: 575.98px) {
  .not-found-container p {
    font-size: 1.2rem;
  }

  .not-found-container img {
    width: 500px;
  }
}