.loader-container {
  width: 100px;
  /* margin: 100px auto; */
}

.create-comment {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  /* height: 100px; */
  /* background-color: yellowgreen; */
  z-index: 2;
}