.messages-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100dvh - 80px - 8px);
  border-radius: 16px;
  background-color: var(--bg-card-color);
}

.messages-container .messages-header {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px;
}

/* No chat selected */
.no-chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.no-chat-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
  text-align: center;
}

.no-chat-content svg {
  text-align: center;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}